body {
  width: 2.75in;
  height: 2.75 in;
  border-radius: 30px;
  padding: 10px;
  background-color: rgb(34, 34, 57);
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  float: left;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  color: white;
  text-align: center;
}

button {
  background-color: rgb(200, 51, 52);
  border: none;
  color: white;
  padding: 15px;
  margin-top: 10px;
  border-radius: 5px;
  width: 100%;
  font-size: 1.1em;
  font-weight: bold;
}

button:active {
  transform: translateY(2px);
}

button:hover {
 cursor: pointer;
 opacity: 0.8;
 transition: 1s;
}

.text-and-logo {
 display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.text-and-logo img {
  width: 25px;
  height: 25px;
}

hr {
  border: 1px solid rgb(142, 150, 185);
  margin-bottom:  10px;
}

h3 {
  color: white;
  font-size: 1.1em;
  margin: 0;
  margin-bottom: 10px;
}

.user-displayName {
  color: wheat;
}

#button1 {
  background-color:wheat;
  color: rgb(34, 34, 57);
}

#button2 {
  background-color: white;
  color: rgb(34, 34, 57);
}

#button3 {
  background-color: black;
  color: white;
}

#sign-out {
 width: 40%;
 background-color: burlywood;
 color: black;
 margin-left: auto;
 margin-right: auto;
}

#sign-in {
  background-color: white;
  color: black;
}